@import "mixins";
@import "props";

// Checkbox.
:host {
  @include flex(center, center);
  @include box(24px);
  @include border(1px solid black);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  user-select: none;

  app-icon {
    @include box(14px);
  }

  // Focused state.
  &:focus {

  }

  // Disabled state.
  &.tk-disabled {
    pointer-events: none;
  }

  // Invalid state.
  &.ng-dirty, &.ng-touched {
    &.ng-invalid {

    }
  }
}
