@import "input";
@import "ripple";
@import "flat-button";
@import "inline-button";
@import "stroke-button";
@import "modal";

// Set default styles for all element.
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

// Remove default styles from button element.
button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

// Remove default styles from input and textarea.
input, textarea, select {
  outline: 0;
  border: 0;
  background-color: transparent;
}
