@import "mixins";
@import "props";

@mixin disabled {
  &:disabled {
    @content;
  }
}

@mixin hover {
  &:not(:disabled) {
    &:hover {
      @content;
    }
  }
}

@mixin active {
  &:not(:disabled) {
    &:active {
      @content;
    }
  }
}

@mixin focus {
  &:not(:disabled) {
    &:focus {
      @content;
    }
  }
}

.tk-stroke-button {
  // Common styles for flat button.
  @include padding(0 10px);
  height: 30px;
  cursor: pointer;
  user-select: none;

  // Set customized styles by its color.
  @include attr('tk-color', '') {
    @include border(1px solid black);

    @include disabled {

    }

    @include hover {

    }

    @include active {

    }

    @include focus {

    }
  }
}
