<!-- Create arrow border. -->
<div
  [style.border-bottom-color]="bottomArrowBorder"
  [style.border-top-color]="topArrowBorder"
  [style.border-right-color]="rightArrowBorder"
  [style.border-left-color]="leftArrowBorder"
  [style.border-width]="arrowBorderSize"
  class="tk-arrow-border"></div>

<!-- Create arrow background. -->
<div
  [style.border-bottom-color]="bottomArrowBackground"
  [style.border-top-color]="topArrowBackground"
  [style.border-right-color]="rightArrowBackground"
  [style.border-left-color]="leftArrowBackground"
  [style.border-width]="arrowSize"
  class="tk-arrow"></div>
