@import "mixins";
@import "props";

// ModalContainer.
:host {
  @include top-left;
  @include box(100%);
  @include flex(center);
  @include padding(20px);
  position: fixed;
  overflow: auto;
  z-index: 1;
}
