<app-router-progress></app-router-progress>

<app-select
  [options]="options"></app-select>

<app-multi-select
  [(ngModel)]="values"
  [options]="options"
  [disabled]="true"
  placeholder="Placeholder"></app-multi-select>

<app-search-select
  [options]="options"
  placeholder="Placeholder"></app-search-select>

<app-datepicker></app-datepicker>

<!-- The modal outlet. -->
<app-modal-outlet></app-modal-outlet>

<button
  (click)="clickOpenModal()"
  appFlatButton>
  Open Modal
</button>

<app-test-module></app-test-module>

<app-message-outlet></app-message-outlet>

<button
  (click)="openInfo()"
  appFlatButton>
  Open Info
</button>
<button
  (click)="openError()"
  appFlatButton>
  Open Error
</button>
<button
  (click)="openSuccess()"
  appFlatButton>
  Open Success
</button>

<router-outlet></router-outlet>

<app-spinner></app-spinner>
