@import "mixins";

:host {
  display: block;
}

.root {
  @include box(100%);
  position: absolute;
  overflow: auto;
}

.container {
  width: 600px;
  height: 30px;
}

.container + .container {
  margin-top: 950px;
}
